/* Default width is 100% */
.container {
  width: 100%;
  height: '100%';
  display: flex;
  flex-direction: row;
  /* margin: 12px; */
}

/* If the window width is 1000px or more, set the width to 1000px */
@media (min-width: 800px) {
  .container {
    width: 800px;
  }
}
